

.header{
    display: inline-block;
    padding: 40px;
    
    
}

.link{
    
    
    padding-right:10%; 
    font-weight: 900;
    font-size: 160%;
    color: orange;
    text-decoration: none;
}


.link:hover{
    color: rgb(156, 153, 146);
}


select{
    float: right;
}


button{
    float: right;
    margin-right: 10px;
}
